body{
    font-family: Viga;
}
.navbar{
    font-size: 18px;
    font-weight:300;
}
.navbar-brand{
    font-weight: 500;
}
a.nav-link{
    color: #ffffff;
}

/*  Versi Desktop*/
@media (min-width: 992px){

}
