body{
    font-family: Viga;
}
.navbar{
    font-size: 18px;
    font-weight:300;
}
.navbar-brand{
    font-weight: 500;
}
.display-4{
    font-size: 25px;
}
.container{
    min-height: 700px;
}
/*  Versi Desktop*/
@media (min-width: 992px){
    .display-4{
        font-size: 50px;
    }
}
